Attributes [swRefresh="1",refTime="1"]
LoadInstrument Seg7[BoundX="188",BoundY="45",BoundW="60",Port="0x01"]
LoadInstrument DILSwitch[BoundX="406",BoundY="98",Port="0x260"]
LoadInstrument ValueText[BoundX="185",BoundY="197",BoundW="154",Port="0x01",swFormat="1"]
